html, body {
  margin: 0;
  padding: 0;
    background-image: "images/Backround.png";

}

canvas {
  display: block;
}





.Introduction
{   
width: 200px;
border: 50px white;
background-color: black;
color: white;
font-size: 15px;;
;padding: 25px;
position:relative;
left: 90px;
top: 45px;
font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.gradientbackground
{
  background-image: url('images/body.jpg');
  background-repeat: no-repeat; 
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}


.scoreslog
{
  width: 200px;
border: 50px white;
background-color: black;
color: white;
font-size: 15px;;
;padding: 43px;
position:relative;
left: 1190px;
top: -555px;
font-family: "Press Start 2P", system-ui;
  font-weight: 400;
}

